<mat-card>
    <mat-card-header>
        <mat-card-title>Create Item</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field>
                <input  matInput  placeholder="description" [(ngModel)]="description"  type="text" name="description">
            </mat-form-field>
            <mat-form-field>
                <input  matInput  placeholder="manufacturer" [(ngModel)]="manufacturer"  type="text"  name="manufacturer">
            </mat-form-field>
            <mat-form-field>
                <input  matInput  placeholder="name" [(ngModel)]="name"  type="name"  name="text">
            </mat-form-field>
            <mat-form-field>
                <input  matInput  placeholder="price" [(ngModel)]="price"  type="price"  name="number">
            </mat-form-field>
            <mat-form-field>
                <input  matInput  placeholder="tax" [(ngModel)]="tax"  type="tax"  name="number">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button  mat-raised-button (click)="create()"  color="primary">Create</button>
        <button  mat-raised-button mat-dialog-close  color="primary">Cancel</button>
    </mat-card-actions>
</mat-card>